@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

/* Colors to use:
font lime-color #badd76
bg-lime-300

background purple-color #3d155f
bg-fuchsia-900
 
Combination no 2:
background-color: #F9F9F9
bg-neutral-50
font-color:#4831d4 
bg-indigo-600*/

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}
